NODE_ENV=development
DB_CONNECTION=mongodb
MONGO_DB_NAME=
MONGO_URI=
PORT=3000
JWT_SECRET=55a362e3733c0f38ab12a2edccacb1fa13a49c611487ec10e60a619d2a8a76a4
BASE_URL=http://localhost:3000  

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=
EMAIL_PASS=
NODE_ENV=development

# Email Configuration - Brevo API
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
BREVO_PROJECT_SENDER_EMAIL=
BREVO_PROJECT_SENDER_NAME= 
SMTP_SERVER=
SMTP_PORT=587
SMTP_LOGIN=
SMTP_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
GOOGLE_CLIENT_ID=your_google_client_id
JWT_EXPIRES_IN=7d


# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RENDER_KEEP_ALIVE_CRON=*/10 * * * *
RENDER_SERVICE_NAME=
RENDER_EXTERNAL_URL=